/*login页面*/
#userloginwarp {
	background: url(../images/userlogin_bg.jpg) no-repeat; 
}
#login a {
	color: #666; 
}
#login input {
	color: #666; 
}
td.logintext
{
	color: #0298d4; 
}
.ipts1 {
	border-bottom: medium none; border-left: medium none; background: url(../images/input_bg2.jpg) no-repeat left top; border-top: medium none; border-right: medium none;
}
.ipts2 {
	border-bottom: medium none; border-left: medium none;  background: url(../images/input_bg2.jpg) no-repeat left bottom; border-top: medium none; border-right: medium none;
}
.ipts3 {
	border-bottom: #b6b9c2 1px solid; border-left: #b6b9c2 1px solid; background: url(../images/input_bg3.gif) repeat-x; border-top: #b6b9c2 1px solid; border-right: #b6b9c2 1px solid;
}
.iptlg {
	border-bottom: medium none; border-left: medium none; background: url(../images/input_login.jpg) no-repeat; border-top: medium none; border-right: medium none;
}
#register {
	color: #666; 
}
.iptre {
	border-bottom: medium none; border-left: medium none; background: url(../images/input_register.jpg) no-repeat; border-top: medium none; border-right: medium none;
}


/*注册页面*/
table.border_red {
	border-bottom: #b9cbd9 1px solid; border-left: #b9cbd9 1px solid; color: #000000; border-top: #b9cbd9 1px solid; border-right: #b9cbd9 1px solid;
}
td.bottom_border_red {
	border-bottom: #b9cbd9 1px solid; 
}
td.register_header
{
    padding-left:5px;border-bottom: #b9cbd9 1px solid;background-color: #d1e6f7; color: #3a3a3a;
}

td.register_errortext
{
    border-bottom: #b9cbd9 1px solid;
}
input.register {
	border-bottom: #a3a3a3 1px solid; border-left: #a3a3a3 1px solid; background: #ffffff; border-top: #a3a3a3 1px solid; border-right: #a3a3a3 1px solid; 
}


/**************订单页面******************/
table.orders  {
	color: #883A3A;		border-right: 1px #b9cbd9 solid;
}
table.orders thead td {
	color: #000000;	border-left: 1px #b9cbd9 solid;	border-top: 1px #b9cbd9 solid;	border-bottom: 1px #b9cbd9 solid;
}
.tableHeader {
	background: #d1e6f7;color: #000000;/*原背景色：f1f1f1*/
}
.tableHeaderOver {
	background-color: #e7f4fe;	color: #3A3A3A;
}
.columnSeparator {
	background-image: url(../images/colSeparator.gif);	background-repeat: repeat-y;background-position: center right;
}
.headerTitle 	
{
    border: 0px red solid;
}
.toolbar {
	border-left: 1px solid #b9cbd9;	border-bottom: 1px solid #b9cbd9;background-image: url(../images/tbr.gif);background-color: transparent;background-repeat: repeat-y;background-position: right 0px;
}
.pageNav {
	background-color: transparent;background-repeat: no-repeat;background-position: center;border: 0px #dddddd none;
}
.jumpPage {
	background-image: url(../images/gotoPage.gif);
}
.firstPage {
	background-image: url(../images/firstPage.gif);
}
.prevPage {
	background-image: url(../images/prevPage.gif);
}
.nextPage {
	background-image: url(../images/nextPage.gif);
}
.lastPage {
	background-image: url(../images/lastPage.gif);
}
.firstPageD {
	background-image: url(../images/firstPageDisabled.gif);
}
.prevPageD {
	background-image: url(../images/prevPageDisabled.gif);
}
.nextPageD {
	background-image: url(../images/nextPageDisabled.gif);
}
.lastPageD {
	background-image: url(../images/lastPageDisabled.gif);
}
.jumpPage {
	background-image: url(../images/gotoPage.gif);
}
.jumpPageInput {
	border: 1px solid #b9cbd9;
}
.separatorTool {
	background-image: url(../images/separator.gif);	background-repeat: no-repeat;background-position: center;
}
.statusTool {
	border: 0px solid #b9cbd9;
}
.columnMenu {
	background-image: url(../images/menuBg.gif);background-repeat: repeat-x;background-position: 0px -8px;background-color: #ffffff;position: absolute;	border: 2px #99bbdd solid;
}

.columnMenu hr {
	color: #6699bb;
}
.ascIcon {
	border: none;background-color: transparent;background-image: url(../images/sortAscIcon.gif);background-repeat: no-repeat;background-position: center;
}

.descIcon {
	border: none;background-color: transparent;background-image: url(../images/sortDescIcon.gif);background-repeat: no-repeat;background-position: center;
}

.defaultIcon {
	border: none;background-color: transparent;background-image: url(../images/sortDefaultIcon.gif);background-repeat: no-repeat;background-position: center;
}
tr.ordersRow {
	background-color: #ffffff;color: #000000;
}
tr.ordersRow td{
	border-left: 1px #b9cbd9 solid;	border-bottom: 1px #b9cbd9 solid;
}
/**************乘机人页面******************/
tr.passengerRow  {
   	background-color: #ffffff;color: #000000;
}
tr.passengerRow td,
tr.passengerRow_hover td,
tr.passengerRow_selected td  {
   	border-left: 1px #b9cbd9 solid;	border-bottom: 1px #b9cbd9 solid;
}
tr.passengerRow_hover{
    background-color:#e7f4fe;
}
tr.passengerRow_selected{
    background-color:#f7f7f7;/*FFEEDD;*/
}
tr.passengerRow td,
tr.passengerRow_hover td,
tr.passengerRow_selected td  {
   	border-left: 1px #b9cbd9 solid;	border-bottom: 1px #b9cbd9 solid;
}
tr.passengerRow_hover{
    background-color:#e7f4fe;
}
tr.passengerRow_selected{
    background-color:#f7f7f7;
}
